@import "../../styles/variables.scss";
.articles {
  background-color: $color-neutral-light-grayish-blue;
  display: grid;
  grid-template-rows: repeat(2, auto);
  padding: 84px 21px;
  row-gap: 33px;

  h1 {
    text-align: center;
    font-weight: 300;
  }
  
  .article-wrapper {
    display: grid;
    grid-template-rows: repeat(4, auto);
    row-gap: 21px;
    justify-self: center;

    img {
      width: 100%;
      border-top-right-radius: 6px;
      border-top-left-radius: 6px;
    }

    .article {
      border-radius: 6px;
      border: 1px solid white;
      background: $color-neutral-white;
      width: 100%;
      height: 100%;
      max-width: 373px;
      max-height: 455px;

      img {
        width: 100%;
        height: 234px;
        max-height: 455px;
      }

      .content {
        padding: 28px 27px;

        h3 {
          font-weight: 300;
          font-size: 0.87em;
          margin: 12px 0;

          &:hover {
            color: $color-primary-lime-green;
          }
        }

        small,
        p {
          font-size: 0.8em;
          font-weight: 300;
          color: $color-neutral-grayish-blue;
        }
      }
    }
  }

  @media (min-width: 768px) {
    h1 {
      font-size: 2em;
    }

    .article-wrapper {
      grid-template-rows: repeat(2, auto);
      grid-template-columns: repeat(2, auto);
      column-gap: 1em;
    }
  }

  @media (min-width: 1220px) {
    padding: 93px 41px;

    h1 {
      text-align: left;
    }

    .article-wrapper {
      grid-template-columns: repeat(4, auto);
    }
  }

  @media (min-width: 1440px) {
    padding: 93px 164px;

    .article-wrapper {
      column-gap: 26px;
    }
  }
}
